body{
background-color: yellowgreen;

}
.container{
      display: inline-block;
      width: 800px;
      margin-top: 100px;
      margin-left: calc(100% - 800px) / 2;
      background-color: crimson;

}
.left-column{
  
    width: 40%;
    float: left;
    background-color: darkgoldenrod;
    }

    .main-title{
        display: inline-block;
        background-color: blueviolet;
        width: 10pxs;
        font-size: xx-large;
        }
    .link{
        display: inline-block;
        float: left;
        font: underline;
        }
    .symbol{
        display: inline-block;
        float: left;
    }
    .close{
        display: inline-block;
        float: right;
    }
    .form{
        display: inline-block;
        
    }

    }
