body{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(#0090AD, #5D1F6D );

}
.container{
      display: inline-block;
      width: 800px;
      margin: 100px calc((100% - 800px) / 2) 0;
      background-color: #FFFFFF;

}
.left-column{
  
    width: 40%;
    height: 495px;
    float: left;
    background-image: url(../img/left-column.png);
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: white;}
    



    .main-title{
        display: inline-block;
        color: white;
        width: 10pxs;
        font-size: xx-large;
        }

        .symbol{
            display: inline-block;
            color: white;
            float: left;
            font: underline;
            font-size: 10px;;
        }

        .link{
            display: inline-block;
            color: white;
            float: left;
            font: underline;
            font-size: 10px;
            }

.right-column{
    display: inline-block;
    width: 60%;
    height: 491px;
}
.close{
    color: black;
    float: right;

}
        .form{
            display: inline-block;
            width: 100%;
            display:table-caption;
            margin-top: auto;
            font-family:Georgia, 'Times New Roman', Times, serif;

}
        .form-row{
            display: inline-block;
            margin-left: 81px;
            font-style: italic;
        }

        .submit > .form-row {
            background-color: blue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }

 